body{
	font-size: 14px;
}
.container{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.transition{
	transition: all 0.5s;
}

/*浮动共通样式开始*/
.fl{
	float: left;
}
.fr{
	float: right;
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
/*浮动共通样式结束*/

/*a链接共通样式开始*/
a{
	font-size: 12px;
	text-decoration: none;
	color: #4d555d;
}
a.link:hover{
	color: #ea675a;
}
/*a链接共通样式结束*/

/*下拉层共通部分开始*/
.dropdown{
	position: relative;
}
.dropdown-layer{
	position: absolute;
	display: none;
}
.dropdown-left{
	left: 0;
}
.dropdown-right{
	right: 0;
}
/*下拉层共通部分结束*/

.dropdown-loading{
	width: 32px;
	height:32px;
	margin:20px;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}